<h1>Tags</h1>

<ul>
{% for tag in collections.all | locale_pages | getAllTags | filterTagList %}
	{% set tagUrl %}/{{ page.lang }}/tags/{{ tag | slugify }}/{% endset %}
	<li><a href="{{ tagUrl }}" class="post-tag">{{ tag }}</a></li>
{% endfor %}
</ul>
